html {
  background-color: #f8f5f0;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
}

nav {
  margin: 15px 0;
  text-align:center
}

nav a {
  color: #ffd479;
  font-size: 1.2em;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
h1, h3 {
  font-family: Brush Script;
  text-align: center;
  color: #50c878; 
  font-size: 2.5em;
}
h2 {
  text-align: center;
  color: orange;
  font-size: 1.8em;
}
p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  line-height: 1.6;
}
figure {
  text-align: center;
  margin: 30px 0;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid orange;
}

figcaption {
  font-style: italic;
  margin-top: 8px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 0.9em;
}

